<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>Timestamp</key>
					<string>732965812.3732435</string>
					<key>XcodeLocation</key>
					<string>{"Selection":"[{\"key\":\"entities\",\"name\":\"Todo\",\"className\":\"CDMModel\"}]"}</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>Todo.xcdatamodeld/Todo.xcdatamodel</string>
					</dict>
				</dict>
				<key>type</key>
				<string>IDEDMDocumentLocation</string>
			</dict>
			<key>title</key>
			<string>Warning: abstract entity Todo has no children</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
